*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

.score-board{
    font-size: 40px;
    margin-top: 30px;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* margin-top: 30px; */
}

.container{
    border: 2px solid orange;
    padding-bottom: 20px;
    height: 510px;
    width: 510px;
}

.container div{
    display: flex;
    justify-content: space-evenly;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    width: 250px;
    height: 50px;
    background-color: #ffc434;
    color: white;
    border: none;
    margin: 20px 0px;
    font-size: 37px;
}

#result{
    display: none;
    margin-top: 30px;
}