@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1{
    color: rgb(90, 37, 192);
    font-size: 60px;
    margin: 50px 0px 40px;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.flex3{
    display: flex;
    align-items: end;
    padding-bottom: 30px;
}

.flex h3{
    color: white;
    font-size: 25px;
}

.flex2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}